{:db/id #db/id[:db.part/db]
 :db/ident :user.gender/female}

{:db/id #db/id[:db.part/db]
 :db/ident :user.gender/male}

{:db/id #db/id[:db.part/db]
 :db/ident :user.role/moderator}

{:db/id #db/id[:db.part/db]
 :db/ident :user.role/admin}

{:db/id #db/id[:db.part/db]
 :db/ident :user.role/user}

{:db/id #db/id[:db.part/db]
 :db/ident :user/first-name
 :db/valueType :db.type/string
 :db/cardinality :db.cardinality/one
 :db.install/_attribute :db.part/db}

{:db/id #db/id[:db.part/db]
 :db/ident :user/last-name
 :db/valueType :db.type/string
 :db/cardinality :db.cardinality/one
 :db.install/_attribute :db.part/db}

{:db/id #db/id[:db.part/db]
 :db/ident :user/gender
 :db/valueType :db.type/ref
 :db/cardinality :db.cardinality/one
 :db.install/_attribute :db.part/db}

{:db/id #db/id[:db.part/db]
 :db/ident :user/email
 :db/valueType :db.type/string
 :db/cardinality :db.cardinality/one
 :db/unique :db.unique/identity
 :db.install/_attribute :db.part/db}

{:db/id #db/id[:db.part/db]
 :db/ident :user/role
 :db/valueType :db.type/ref
 :db/cardinality :db.cardinality/many
 :db.install/_attribute :db.part/db}

{:db/id #db/id[:db.part/db]
 :db/ident :user/friend
 :db/valueType :db.type/ref
 :db/cardinality :db.cardinality/many
 :db/index true
 :db.install/_attribute :db.part/db}

{:db/id #db/id[:db.part/db]
 :db/ident :user/school
 :db/valueType :db.type/ref
 :db/cardinality :db.cardinality/many
 :db/isComponent true
 :db.install/_attribute :db.part/db}

{:db/id #db/id[:db.part/db]
 :db/ident :user.school/name
 :db/valueType :db.type/string
 :db/cardinality :db.cardinality/one
 :db.install/_attribute :db.part/db}

{:db/id #db/id[:db.part/db]
 :db/ident :school.major/computer-science}

{:db/id #db/id[:db.part/db]
 :db/ident :school.major/music}

{:db/id #db/id[:db.part/db]
 :db/ident :school.major/business-administration}

{:db/id #db/id[:db.part/db]
 :db/ident :school.major/obedience}

{:db/id #db/id[:db.part/db]
 :db/ident :user.school/major
 :db/valueType :db.type/ref
 :db/cardinality :db.cardinality/one
 :db.install/_attribute :db.part/db}

{:db/id #db/id[:db.part/db]
 :db/ident :user.school/mascot
 :db/valueType :db.type/string
 :db/cardinality :db.cardinality/one
 :db.install/_attribute :db.part/db}
